/* site.css */
/* This file will determine the general style for the whole site */



/* Format for the main menu */
#main_menu {
	float: right;
	margin-right: 5px;

}

#main_menu li {

	display: inline;
	font-size: 14px;
}

#company_logo {

	display: inline;
	float: left;
}

header {

	background-color: rgb(50, 50, 50);
}